<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Your Cart</h1>
      <div *ngIf="cartProducts.length > 0; else noProducts">
        <div class="row list-group-item clearfix" *ngFor="let cartProduct of cartProducts">
          <div class="col-md-6">
            <img [src]="cartProduct.mainImage" alt="" style="max-height: 50px;">
            <p>{{cartProduct.price.currency}} {{cartProduct.price.amount}}</p>
            <p>Quantity: {{cartProduct.qty}}</p>
            <p>Size: {{cartProduct.size}}</p>
            <p>Colour: {{cartProduct.colour}}</p>
          </div>
          <div class="col-md-6">
            <p>{{cartProduct.name}}</p>
            <button class="btn btn-danger" (click)="removeProduct(cartProduct.SKU ,cartProduct.size)">Remove Product</button>
          </div>
        </div>
      </div>
      <ng-template #noProducts>
        <p>There are no products in your cart!</p>
      </ng-template>
    </div>
  </div>
</div>
