.main-image-container {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.main-image {
  width: 100%;
}

h1 {
  color: white;
  position: absolute;
  top: 200px;
  left: 16px;
}
