<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>{{product.name}}</h2>
      <h3>{{product.price.currency}} {{product.price.amount}}</h3>
      <img src="{{product.mainImage}}" alt="" srcset="">
      <div>{{product.stockStatus}}</div>
    </div>
    <div class="col-xs-6">
      <p>{{product.description}}</p>
    </div>
    <app-sizes [sizesAvailable]="product.sizes" (sizeSelected)="updateSizeSelected($event)"></app-sizes>
    <hr>
    <button class="btn btn-success" (click)="addProduct()">Add to cart</button>
  </div>
</div>
